[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

[*.java]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{json,yml,yaml,toml,xml,md}]
indent_style = space
indent_size = 2
tab_width = 2

