# This file represents all the properties to be configured
# to start the application and is intended as a shareable template
# to quickly setup the actual .env with real values.
#
# To make spring read the actual file content and inject the variables,
# make a copy of this and rename it to `.env`
#
# |-------------------------------------------------------------|
# | ** DO NOT COMMIT THIS FILE WITH ACTUAL PRODUCTION VALUES ** |
# |-------------------------------------------------------------|

# --- DATABASE ---
DB_PROVIDER=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_DRIVER=
DB_PLATFORM=
DB_DIALECT=

# --- OAUTH ---
# NOTE: Remove if not using an external IDP
IDP_ISS_URI=

